<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>대기자 조작 화면</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
  <br>
  <div th:if="${myUser.empty}" class="container" style="color: red;">([[${fromSectionId}]]) 대기자가 없습니다.</div>
  <div th:if="${myUser.present}" class="container" th:object="${myUser.get()}">
    <div class="card">
      <div class="card-header"><h1>대기자 처리 단말기([[${section.name}]])</h1></div>
      <div class="card-body">
        <br>
        <h3>대기번호 : [[*{myNumber}]]</h3>
        <h3>발행시간 : [[${createdAt}]]</h3>
        <h5>사용자ID : [[*{id}]]</h5>
      </div>
      <div class="card-footer">
        <form th:action="@{/vender/{fromSectionId}/{userId}(fromSectionId=${fromSectionId}, userId=*{id})}" method="POST">
          <input type="hidden" name="venderId" th:value="${venderId}">
          <input type="hidden" name="subVenderId" th:value="${subVenderId}">
          <div class="form-group">
            <label for="sectionId">다음 목적지</label>
            <select class="form-control" name="sectionId" id="sectionId">
              <option th:each="sectionName : ${T(com.example.demo.vo.SectionName).values()}"
                th:value="${sectionName.name()}" th:text="${sectionName.name()}">
              </option>
            </select>
          </div>
        <button type="submit" class="btn btn-primary btn-block">처리 완료</button>
        <!-- <button onclick="call()" class="btn btn-primary btn-block">진동호출</button> -->
        <br>
      </form>
      </div>
    </div>
  </div>

  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', () => {
      let text = document.querySelector('.container');
      if(text.innerText.includes('없습니다')) {
        setInterval("location.reload()", 5000);
      }
    });

  function formatDate() {
    let today = new Date();
    let year = today.getFullYear();
    let month = today.getMonth() + 1;
    if (month < 10) month = '0' + month;
    let date = today.getDate();
    if (date < 10) date = '0' + date;
    let hour = today.getHours();
    if (hour < 10) hour = '0' + hour;
    let min = today.getMinutes();
    if (min < 10) min = '0' + min;
    let sec = today.getSeconds();
    if (sec < 10) sec = '0' + sec;
    return year + "-" + month + "-" + date + " " + hour + ":" + min + ":" + sec;
  }
  </script>
</body>

</html>