<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>접속환경설정</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  <br>
  <div class="container">
    <form th:action="@{/vender/display}" method="get">
      <div class="form-group">
        <label for="venderId">회사명</label>
        <select class="form-control" name="venderId" id="venderId">
          <option value="WOORI">WOORI</option>
        </select>
      </div>
        <div class="form-group">
          <label for="subVenderId">지점명</label>
          <select class="form-control" name="subVenderId" id="subVenderId">
            <option th:each="subVenderName : ${T(com.example.demo.vo.SubVenderName).values()}"
              th:value="${subVenderName.name()}" th:text="${subVenderName.name()}">
            </option>
          </select>
        </div>

        <div class="form-group">
          <label for="sectionId">진료과(큐선택)</label>
          <select class="form-control" name="sectionId" id="sectionId">
            <option th:each="sectionName : ${T(com.example.demo.vo.SectionName).values()}"
              th:value="${sectionName.name()}" th:text="${sectionName.name()}">
            </option>
          </select>
        </div>
      <button type="submit" class="btn btn-default">GO</button>
    </form>
  </div>
</body>

</html>